.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listItem{
    width: 100%;
    max-width: 1024;
    display: flex;
    gap: 20px;
}

/* .listSearch{
    flex: 1;
    background-color: #febb02;
} */
.listResult{
    flex: 3;
}